<form action="/create" method="post">
    <h2 class="center-align">New Todo</h2>

    <div class="input-field">
        <input id="title" type="text" name="title" class="validate" required>
        <label for="title">Todo title</label>
        <span class="helper-text" data-error="wrong" data-success="right"></span>
    </div>

    <button type="submit" class="btn">Create</button>
</form>