h2 {
    margin-bottom: 2.5rem;
}

.todo {
    margin-bottom: 1rem;
}

.todo span.completed {
    text-decoration: line-through;
}

.todo label {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: pointer;
    background: #f3f3f3;
    padding: 1rem;
}

.todo__show {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.todo__delete {
    margin-left: 10px;
}

.todo i {
    z-index: 2;
}

.empty {
    background: #f3f3f3;
    border-left: 4px solid #00897b;
    border-right: 4px solid #00897b;
    text-align: center;
    margin-top: 8em;
}

.empty span {
    color: #e57373;
    font-size: 2.5em;
}

.error {
    background: #f3f3f3;
    border-left: 4px solid #e57373;
    border-right: 4px solid #e57373;
    text-align: center;
    margin-top: 8em;
}

.error span {
    color: #e57373;
    font-size: 2.5em;
}